#display-options {
    margin-bottom: 16px;
}

.field {
    &#row-id-field {
        margin-bottom: 16px;
    }

    &#transactions-field {
        width: 100%;
    }
}

.field-header {
    margin-bottom: 4px;
}
